$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'compass/css3/background-size';
@import 'compass/css3/transform';
@import 'compass/css3/border-radius';
@import 'sass-bootstrap/lib/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800,600);

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* Space out content a bit */
body {
    // padding-top: 20px;
    padding-bottom: 20px;
}


// set the background image for the site
// -----------------
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
    
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
    
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}



// global overrides
// -----------------
h1 h2 h3 h4 h5 h6 p {
    font-family: 'Open Sans', sans-serif; 
}

$color-green: rgb(243, 205, 157);
.green {
    color: $color-green;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}


/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}



// $section-height: 450px;


$section-spacing: 200px;
$section-row-height: 250px;

.shaded {
    background-color: rgba(0,0,0,0.5);
    position: relative;
}

.full-img {
    position: relative;
    right: 0;
    // top: $section-row-height;
    top: 0;
    height: 270px;
    width: 100%;

    &.pumpkin {
        // background: url('../images/eat-no-evil-pumpkin-walnut.jpg') no-repeat center center;
        background: url('../images/eat-no-evil-pumpkin-walnut-lo.jpg') no-repeat center center;
        @include background-size(cover);
    }
    &.chocolate {
        // background: url('../images/eat-no-evil-chocolate-almond.jpg') no-repeat center center;
        background: url('../images/eat-no-evil-chocolate-almond-lo.jpg') no-repeat center center;
        @include background-size(cover);
    }

    &.lefty {
        left: 0 !important;
    }

    
}

.section {
    margin-top: $section-spacing;
    min-height: $section-row-height;
    text-align: center;
    // padding: 20px 0;
    position: relative;

    &.crop-row {
        overflow: hidden;
    }

    .shade {
        background-color: rgba(0,0,0,0.5);
        min-height: 500px;
        width: 110%;
        position: absolute;
        top: -50px;
        z-index: 0;
        left: -20px;
    }
    img.running {
        position: absolute;
        top: 0;
        right: 0;

        min-height: 100%;
        min-width: 1024px;
          
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
    }
}

.section-shim {
    // margin-top: $section-row-height + $section-spacing;
    margin-top: $section-spacing;
}

.light-copy {
    padding: 40px 20px;

    h1, h2 {
        color: $color-green;
        position: relative;
        z-index: 1;        
    }

    p {
        position: relative;
        z-index: 1;        
        color: #EEEEEE;
        font-size: 1.2em;
        font-weight: 200;
        letter-spacing: 1px;
    }
}


// .full-width-bg {
//     width: 100%;
//     // display: inline-block;
//     height: $section-height;

//     &.section0 {
//         // background: url('../images/wood-bg-grad.jpg') no-repeat center center;
//         // background: url('../images/wood-bg-grad-hi.jpg') no-repeat center center;
//         // background: url('../images/wood-bg-grad-lo.jpg') no-repeat center center;
//         // background: url('../images/wood-bg-grad-blur2.jpg') no-repeat center center;
//         // background: url('../images/wood-bg-grad-angle.jpg') no-repeat center center;
//         background: url('../images/wood-bg-grad-2x.jpg') no-repeat center center;
//         @include background-size(cover);
//     }
//     &.section1 {
//         // background: url('../images/spoon-grains.jpg') no-repeat center center;
//         // background: url('../images/spoon-grains-shad.jpg') no-repeat center center;
//         // @include background-size(cover);
//     }
//     &.section2 {
//         background: url('../images/active-cycling.jpg') no-repeat center center;
//         @include background-size(cover);
//     }
// }

.fix-top {
    position: absolute;
    top: 10px;
    right: 20px;
}

.landing {
    background: url('../images/wood-bg-grad-2x.jpg') no-repeat center center;
    @include background-size(cover);
    
    position: relative;
    min-height: 500px;

    .coming-soon {
        font-size: 2.2em;
        position: absolute;
        top: 10px;
        right: -30px;
        @include transform(rotate(45deg));

    }

    .flavors {
        margin: 20px 0;

        .flavor {
            margin: 0 15px;
            display: inline-block;
            width: 65px;
            height: 65px;
            border: solid 1px #aaa;
            @include border-radius(50px);
            @include background-size(cover);
            position: relative;

            &.chocolate {
                background-image: url('../images/chocolate.jpg');
            }
            &.pumpkin {
                background-image: url('../images/pumpkin.jpg');
            }

            h6 {
                position: absolute;
                bottom: -45px;
                color: #ccc;
                // font-size: 1.2em;
            }
        }

    }
    .content-area {
        position: relative;
        z-index: 1;
        margin: 0 auto;
        text-align: center;
        width: 60%;
        font-size: 50%;
        margin-top: 100px;

    }

    h1 {
        text-transform: uppercase;
        margin: 20px 0;
        padding: 20px 0;
        border-bottom: solid rgba(200,200,200,0.5) 1px;
        border-top: solid rgba(200,200,200,0.5) 1px;
        letter-spacing: 10px;
        line-height: 1.5em;
        font-weight: 800;

    }

    h2 {
        color: #EEE;
        font-weight: 400;
        letter-spacing: 5px;
        line-height: 1.2em;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1024px;
    }

    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    
    .full-img {
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
    }

    .section {
        margin-top: $section-spacing;
        // margin-top: 200px;
        // min-height: 350px;
        min-height: $section-row-height * 1.2;
        text-align: left;

    }

    .light-copy {
        p {
            font-size: 1.3em;
        }   

        h2.footy {
            margin-top: 100px;
        }
    }


    .section-shim {
        margin-top: $section-spacing * 1.2;
    }

    .landing {
        min-height: 550px; 
    
        .content-area {
            margin-top: 180px;
            width: 40%;
        }
    
        .flavors .flavor{
            width: 100px;
            height: 100px;
            border: 2px solid #ccc;

            h6 {
                width: 80px;
                left: 8px;
            }
        }
    }

}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-md-min) {
    
    h1 {
        font-size: 5em;
    }
    h2 {
        font-size: 3em;
        font-weight: 400;
    }



    .section {
        // margin-top: 300px;
        // min-height: 400px;
        margin-top: $section-spacing;
        min-height: $section-row-height * 1.5;
    }

    .section-shim {
        margin-top: $section-spacing * 1.5;
    }

    .landing {
        min-height: 700px; 
    }

}










// 